@import '@colors';

.todos {
  padding: 0 20px;
}

.todo {
  margin-bottom: 12px;
  padding: 4px 12px;
  border: 1px solid $commonGray-A400;
}

.title {
  margin: 0 0 8px;
  color: $commonGray-500;

  span {
    font-weight: 400;
    color: $commonGray-200;
  }
}

.status {
  color: $commonGray-500;
  font-weight: 700;

  span {
    font-weight: 400;
    color: $commonGray-200;
  }
}
