@import '@colors';

.boilerIcon {
  width: 40px;
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px 20px;
  border-bottom: 1px solid $commonGray-A200;
}

.navItem {
  margin: 4px 12px;
  color: $commonBlue-800;
}
