@font-face {
  font-family: 'Open sans', Helvetica, sans-serif;
  src: url(../../../assets/fonts/OpenSans-Regular.ttf) format(truetype),
    url(../../../assets/fonts/OpenSans-SemiBold.ttf) format(truetype),
    url(../../../assets/fonts/OpenSans-Bold.ttf) format(truetype);
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Open sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-left: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
