@import '@colors';

.photos {
  padding: 0 20px;
}

.photo {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 4px 12px;
  border: 1px solid $commonGray-A400;
}

.cover {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.title {
  color: $commonGray-500;

  span {
    font-weight: 400;
    color: $commonGray-200;
  }
}
