@font-face {
  font-family: 'Open sans', Helvetica, sans-serif;
  src: url(../../../assets/fonts/OpenSans-Regular.ttf) format(truetype),
    url(../../../assets/fonts/OpenSans-SemiBold.ttf) format(truetype),
    url(../../../assets/fonts/OpenSans-Bold.ttf) format(truetype);
}
